pkgbase = ros-kinetic-ros
	pkgdesc = ROS - ROS packaging system.
	pkgver = 1.13.6
	pkgrel = 1
	url = https://github.com/ros/ros
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-kinetic-catkin
	depends = ros-kinetic-catkin
	depends = ros-kinetic-mk
	depends = ros-kinetic-rosbash
	depends = ros-kinetic-rosboost-cfg
	depends = ros-kinetic-rosbuild
	depends = ros-kinetic-rosclean
	depends = ros-kinetic-roscreate
	depends = ros-kinetic-roslang
	depends = ros-kinetic-roslib
	depends = ros-kinetic-rosmake
	depends = ros-kinetic-rosunit
	source = ros-kinetic-ros-1.13.6-0.tar.gz::https://github.com/ros-gbp/ros-release/archive/release/kinetic/ros/1.13.6-0.tar.gz
	sha256sums = 9d171d5d349f3b8520c5e29dbf42ae975693a974d8eed7f6af47a83bb62c9972

pkgname = ros-kinetic-ros

