pkgbase = ros-lunar-actionlib
	pkgdesc = ROS - The actionlib stack provides a standardized interface for interfacing with preemptable tasks.
	pkgver = 1.11.11
	pkgrel = 1
	url = https://github.com/ros/actionlib
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	makedepends = ros-lunar-rosnode
	depends = boost
	depends = boost-libs
	depends = ros-lunar-actionlib-msgs
	depends = ros-lunar-message-generation
	depends = ros-lunar-message-runtime
	depends = ros-lunar-roscpp
	depends = ros-lunar-roslib
	depends = ros-lunar-rospy
	depends = ros-lunar-rostest
	depends = ros-lunar-rostopic
	depends = ros-lunar-std-msgs
	depends = wxpython
	source = ros-lunar-actionlib-1.11.11-0.tar.gz::https://github.com/ros-gbp/actionlib-release/archive/release/lunar/actionlib/1.11.11-0.tar.gz
	sha256sums = 482b6a463c143ba1398f6d14ed49517a986175ac148abb98fa71aa255832ea7d

pkgname = ros-lunar-actionlib

