pkgbase = ros-lunar-collada-parser
	pkgdesc = ROS - This package contains a C++ parser for the Collada robot description format.
	pkgver = 1.12.10
	pkgrel = 3
	url = https://github.com/ros/robot_model/issues
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	depends = collada-dom
	depends = ros-lunar-class-loader
	depends = ros-lunar-roscpp
	depends = ros-lunar-urdf
	depends = ros-lunar-urdf-parser-plugin
	depends = urdfdom-headers
	source = ros-lunar-collada-parser-1.12.10-2.tar.gz::https://github.com/ros-gbp/collada_urdf-release/archive/release/lunar/collada_parser/1.12.10-2.tar.gz
	sha256sums = 619d55872496995196a0f96776d218c1f4b03eeaf0db8db71793976cdbbd3ec2

pkgname = ros-lunar-collada-parser

