pkgbase = ros-lunar-rostest
	pkgdesc = ROS - Integration test suite based on roslaunch that is compatible with xUnit frameworks.
	pkgver = 1.13.5
	pkgrel = 1
	url = http://ros.org/wiki/rostest
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	depends = boost
	depends = boost-libs
	depends = ros-lunar-rosgraph
	depends = ros-lunar-roslaunch
	depends = ros-lunar-rosmaster
	depends = ros-lunar-rospy
	depends = ros-lunar-rosunit
	source = ros-lunar-rostest-1.13.5-0.tar.gz::https://github.com/ros-gbp/ros_comm-release/archive/release/lunar/rostest/1.13.5-0.tar.gz
	sha256sums = eec6f01ffdce6a83e4aba6d6328723710bdec6d7b3a559de98c97c9e83cf08f4

pkgname = ros-lunar-rostest

