pkgbase = ros-kinetic-camera-info-manager
	pkgdesc = ROS - This package provides a C++ interface for camera calibration information.
	pkgver = 1.11.13
	pkgrel = 1
	url = https://github.com/ros-perception/image_common
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = gtest
	makedepends = ros-build-tools
	makedepends = ros-kinetic-catkin
	depends = boost
	depends = boost-libs
	depends = ros-kinetic-camera-calibration-parsers
	depends = ros-kinetic-image-transport
	depends = ros-kinetic-roscpp
	depends = ros-kinetic-roslib
	depends = ros-kinetic-rostest
	depends = ros-kinetic-sensor-msgs
	source = ros-kinetic-camera-info-manager-1.11.13-0.tar.gz::https://github.com/ros-gbp/image_common-release/archive/release/kinetic/camera_info_manager/1.11.13-0.tar.gz
	sha256sums = 99173c8c962cf3339d30b7453a9e59fed2e36ab0b66de3197ea97d7d553d1646

pkgname = ros-kinetic-camera-info-manager

