pkgbase = ros-kinetic-moveit-core
	pkgdesc = ROS - Core libraries used by MoveIt!.
	pkgver = 0.9.11
	pkgrel = 1
	url = https://github.com/ros-planning/moveit
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = pkg-config
	makedepends = ros-build-tools
	makedepends = ros-kinetic-angles
	makedepends = ros-kinetic-catkin
	makedepends = ros-kinetic-moveit-resources
	makedepends = ros-kinetic-orocos-kdl
	makedepends = ros-kinetic-rosunit
	makedepends = ros-kinetic-tf-conversions
	depends = assimp
	depends = boost
	depends = boost-libs
	depends = console-bridge
	depends = eigen3
	depends = fcl
	depends = octomap
	depends = ros-kinetic-eigen-conversions
	depends = ros-kinetic-eigen-stl-containers
	depends = ros-kinetic-geometric-shapes
	depends = ros-kinetic-geometry-msgs
	depends = ros-kinetic-kdl-parser
	depends = ros-kinetic-moveit-msgs
	depends = ros-kinetic-octomap-msgs
	depends = ros-kinetic-random-numbers
	depends = ros-kinetic-roslib
	depends = ros-kinetic-rostime
	depends = ros-kinetic-sensor-msgs
	depends = ros-kinetic-shape-msgs
	depends = ros-kinetic-srdfdom
	depends = ros-kinetic-std-msgs
	depends = ros-kinetic-trajectory-msgs
	depends = ros-kinetic-urdf
	depends = ros-kinetic-visualization-msgs
	depends = urdfdom
	depends = urdfdom-headers
	source = ros-kinetic-moveit-core-0.9.11-0.tar.gz::https://github.com/ros-gbp/moveit-release/archive/release/kinetic/moveit_core/0.9.11-0.tar.gz
	sha256sums = 6cd9d4a1e2838682c6a33311984a5148b1cf74df61cb109a43bed82ffbe0b6ce

pkgname = ros-kinetic-moveit-core

