pkgbase = ros-lunar-rqt-nav-view
	pkgdesc = ROS - rqt_nav_view provides a gui for viewing navigation maps and paths.
	pkgver = 0.5.7
	pkgrel = 1
	url = https://github.com/ros-visualization/rqt_nav_view/issues
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	depends = ros-lunar-geometry-msgs
	depends = ros-lunar-nav-msgs
	depends = ros-lunar-python-qt-binding
	depends = ros-lunar-qt-gui
	depends = ros-lunar-rospy
	depends = ros-lunar-rqt-gui
	depends = ros-lunar-rqt-gui-py
	depends = ros-lunar-rqt-py-common
	depends = ros-lunar-tf
	source = ros-lunar-rqt-nav-view-0.5.7-0.tar.gz::https://github.com/ros-gbp/rqt_nav_view-release/archive/release/lunar/rqt_nav_view/0.5.7-0.tar.gz
	sha256sums = 20aa0131afe3ea6f00e8dc41e6a5a1e9f4b79c9b477ab922d1dc99499c41a0f2

pkgname = ros-lunar-rqt-nav-view

