pkgbase = ros-lunar-filters
	pkgdesc = ROS - This library provides a standardized interface for processing data as a sequence of filters.
	pkgver = 1.8.1
	pkgrel = 1
	url = http://ros.org/wiki/filters
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	depends = ros-lunar-pluginlib
	depends = ros-lunar-rosconsole
	depends = ros-lunar-roscpp
	depends = ros-lunar-roslib
	depends = ros-lunar-rostest
	source = ros-lunar-filters-1.8.1-0.tar.gz::https://github.com/ros-gbp/filters-release/archive/release/lunar/filters/1.8.1-0.tar.gz
	sha256sums = 7141ed6aa2c29c2e897a12a1ad77aa77420f29c1803cf73de2e7d8783b8e016c

pkgname = ros-lunar-filters

