pkgbase = ros-lunar-topic-tools
	pkgdesc = ROS - Tools for directing, throttling, selecting, and otherwise messing with ROS topics at a meta level.
	pkgver = 1.13.5
	pkgrel = 1
	url = http://ros.org/wiki/topic_tools
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	depends = ros-lunar-cpp-common
	depends = ros-lunar-message-generation
	depends = ros-lunar-message-runtime
	depends = ros-lunar-rosconsole
	depends = ros-lunar-roscpp
	depends = ros-lunar-rostest
	depends = ros-lunar-rostime
	depends = ros-lunar-rosunit
	depends = ros-lunar-std-msgs
	depends = ros-lunar-xmlrpcpp
	source = ros-lunar-topic-tools-1.13.5-0.tar.gz::https://github.com/ros-gbp/ros_comm-release/archive/release/lunar/topic_tools/1.13.5-0.tar.gz
	sha256sums = c313c9c31b593370457cb30220a47e1f6e15fe347dc9b80113a8e9dda071245b

pkgname = ros-lunar-topic-tools

