pkgbase = ros-kinetic-urdf
	pkgdesc = ROS - This package contains a C++ parser for the Unified Robot Description Format (URDF), which is an XML format for representing a robot model.
	pkgver = 1.12.12
	pkgrel = 1
	url = https://github.com/ros/robot_model/issues
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-kinetic-catkin
	makedepends = ros-kinetic-rostest
	depends = ros-kinetic-cmake-modules
	depends = ros-kinetic-pluginlib
	depends = ros-kinetic-rosconsole-bridge
	depends = ros-kinetic-roscpp
	depends = ros-kinetic-urdf-parser-plugin
	depends = tinyxml
	depends = urdfdom
	depends = urdfdom-headers
	source = ros-kinetic-urdf-1.12.12-0.tar.gz::https://github.com/ros-gbp/urdf-release/archive/release/kinetic/urdf/1.12.12-0.tar.gz
	sha256sums = 3ef94e4c96e189e1df3b4e57d0309bd1bd76a7a28a674a5944e26b8fd674cb33

pkgname = ros-kinetic-urdf

