pkgbase = ignition-tools
	pkgdesc = Ignition entry point for using all the suite of ignition tools.
	pkgver = 0.0.0
	pkgrel = 5
	url = http://ignitionrobotics.org/
	arch = i686
	arch = x86_64
	groups = development
	license = Apache
	makedepends = cmake
	makedepends = ruby-ronn
	makedepends = ruby
	provides = ignition-tools
	replaces = ignition-tools
	source = ignition-tools-0.0.0.tar.bz2::https://bitbucket.org/ignitionrobotics/ign-tools/get/tip.tar.bz2
	sha256sums = 369a0561bad2727945da3189e5fcb4ca0775299e4be064a214e89995cd2b3f84

pkgname = ignition-tools

