pkgbase = caffe
	pkgdesc = A fast framework for deep learning built in C++ for speed with a Python 3 interface
	pkgver = 1.0.dr4
	pkgrel = 13
	url = ssh://git@github.com/delftrobotics/caffe
	arch = x86_64
	license = BSD
	makedepends = gcc-fortran
	makedepends = cmake
	depends = boost
	depends = boost-libs
	depends = cblas
	depends = cuda
	depends = cudnn
	depends = cython
	depends = gflags
	depends = google-glog
	depends = hdf5
	depends = ipython
	depends = leveldb
	depends = lmdb
	depends = opencv
	depends = protobuf
	depends = python-dateutil
	depends = python-matplotlib
	depends = python-networkx
	depends = python-nose
	depends = python-numpy
	depends = python-numpy
	depends = python-pillow
	depends = python-protobuf
	depends = python-scikit-image
	depends = python-scikit-learn
	depends = python-scipy
	depends = python-yaml
	source = caffe-1.0.dr4.tar.gz::https://github.com/delftrobotics-forks/caffe/archive/1.0.dr4.tar.gz
	sha256sums = 4e21d7a6c5ccc3bb60ac4da6f4a726b9368cdaaa1153158b79e6a092dfea4e53

pkgname = caffe

