pkgbase = ros-lunar-image-view
	pkgdesc = ROS - A simple viewer for ROS image topics.
	pkgver = 1.12.21
	pkgrel = 1
	url = http://www.ros.org/wiki/image_view
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	makedepends = ros-lunar-rostest
	depends = gtk2
	depends = ros-lunar-camera-calibration-parsers
	depends = ros-lunar-cv-bridge
	depends = ros-lunar-dynamic-reconfigure
	depends = ros-lunar-image-transport
	depends = ros-lunar-message-filters
	depends = ros-lunar-message-generation
	depends = ros-lunar-nodelet
	depends = ros-lunar-rosconsole
	depends = ros-lunar-roscpp
	depends = ros-lunar-sensor-msgs
	depends = ros-lunar-std-srvs
	depends = ros-lunar-stereo-msgs
	source = ros-lunar-image-view-1.12.21-0.tar.gz::https://github.com/ros-gbp/image_pipeline-release/archive/release/lunar/image_view/1.12.21-0.tar.gz
	sha256sums = 4316b4bc3fa2b0b81afc504f77d7e65e597092f8c26b519b7f2e1581ccded2e4

pkgname = ros-lunar-image-view

