pkgbase = ros-kinetic-eigen-conversions
	pkgdesc = ROS - Conversion functions between: - Eigen and KDL - Eigen and geometry_msgs.
	pkgver = 1.11.9
	pkgrel = 9
	url = http://ros.org/wiki/eigen_conversions
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-kinetic-catkin
	depends = eigen3
	depends = ros-kinetic-cmake-modules
	depends = ros-kinetic-geometry-msgs
	depends = ros-kinetic-orocos-kdl
	depends = ros-kinetic-std-msgs
	source = ros-kinetic-eigen-conversions-1.11.9-0.tar.gz::https://github.com/ros-gbp/geometry-release/archive/release/kinetic/eigen_conversions/1.11.9-0.tar.gz
	sha256sums = 37608f29197051e03374ef024fce58f2fc17dbcca737fc49ad139b7c81b289f5

pkgname = ros-kinetic-eigen-conversions

