pkgbase = ros-kinetic-turtlesim
	pkgdesc = ROS - turtlesim is a tool made for teaching ROS and ROS packages.
	pkgver = 0.7.1
	pkgrel = 28
	url = https://github.com/ros/ros_tutorials
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-kinetic-catkin
	depends = qt5-base
	depends = ros-kinetic-geometry-msgs
	depends = ros-kinetic-message-generation
	depends = ros-kinetic-message-runtime
	depends = ros-kinetic-rosconsole
	depends = ros-kinetic-roscpp
	depends = ros-kinetic-roscpp-serialization
	depends = ros-kinetic-roslib
	depends = ros-kinetic-rostime
	depends = ros-kinetic-std-msgs
	depends = ros-kinetic-std-srvs
	source = ros-kinetic-turtlesim-0.7.1-0.tar.gz::https://github.com/ros-gbp/ros_tutorials-release/archive/release/kinetic/turtlesim/0.7.1-0.tar.gz
	sha256sums = bd56f38a94dee0c7142361c48f56a1bee0bb69d98f238ee9d4be29ddf7098cd6

pkgname = ros-kinetic-turtlesim

