pkgbase = ros-lunar-class-loader
	pkgdesc = ROS - The class_loader package is a ROS-independent package for loading plugins during runtime and the foundation of the higher level ROS pluginlib library.
	pkgver = 0.3.8
	pkgrel = 1
	url = https://github.com/ros/class_loader
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-lunar-catkin
	depends = boost
	depends = boost-libs
	depends = console-bridge
	depends = poco
	depends = ros-lunar-cmake-modules
	source = ros-lunar-class-loader-0.3.8-0.tar.gz::https://github.com/ros-gbp/class_loader-release/archive/release/lunar/class_loader/0.3.8-0.tar.gz
	sha256sums = 63a2c8926318e831e705aaa6430a341f4dc1dac69fef16653aa39c8d014ec270

pkgname = ros-lunar-class-loader

