pkgbase = ros-kinetic-rqt-robot-steering
	pkgdesc = ROS - rqt_robot_steering provides a GUI plugin for steering a robot using Twist messages.
	pkgver = 0.5.8
	pkgrel = 1
	url = https://github.com/ros-visualization/rqt_robot_steering/issues
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-kinetic-catkin
	depends = python-rospkg
	depends = ros-kinetic-geometry-msgs
	depends = ros-kinetic-python-qt-binding
	depends = ros-kinetic-rostopic
	depends = ros-kinetic-rqt-gui
	depends = ros-kinetic-rqt-gui-py
	source = ros-kinetic-rqt-robot-steering-0.5.8-0.tar.gz::https://github.com/ros-gbp/rqt_robot_steering-release/archive/release/kinetic/rqt_robot_steering/0.5.8-0.tar.gz
	sha256sums = 46641be6f4a999e31d52f9f34171e0101fe5bf7af9657fe3860d4c2b145b8a57

pkgname = ros-kinetic-rqt-robot-steering

